In [47]:
import pandas as pd

In [48]:
df = pd.read_csv('final_startup_dataset_v4.csv')

In [49]:
df['name'] = df['name'].str.lower()

In [14]:
df['name'].duplicated().sum()

3

In [15]:
df = df.drop_duplicates(subset='name', keep='first')

In [16]:
df['name'].nunique()

12267

In [17]:
df.shape

(12267, 10)

In [51]:
df['founded_at'] = pd.to_datetime(df['founded_at'], errors='coerce')
df['founded_at'] = df['founded_at'].dt.strftime('%Y-%m-%d')

In [53]:
df.to_csv('final_startup_dataset_v4.csv', index=False)

In [52]:
df.head()

,name,category_list,funding_total_usd,country_code,state_code,founded_at,funding_rounds,first_funding_at,last_funding_at,status_binary
0,1 mainstream,"['Apps', 'Cable', 'Distribution', 'Software']",5000000.0,USA,CA,2012-03-01,1,2015-03-17,2015-03-17,1
1,1000 markets,"['Art', 'E-Commerce', 'Marketplaces']",500000.0,USA,WA,2009-01-01,1,2009-05-15,2009-05-15,1
2,1000memories,['Curated Web'],2535000.0,USA,CA,2010-07-01,2,2010-01-01,2011-02-16,1
3,100plus,['Analytics'],1250000.0,USA,CA,2011-09-16,2,2011-11-02,2011-11-30,1
4,1010data,['Software'],35000000.0,USA,NY,2000-01-01,1,2010-03-08,2010-03-08,1

In [20]:
import ast

df = pd.read_csv('final_startup_dataset_v4.csv', usecols=['name', 'category_list'])

# Step 2: Convert stringified lists to actual Python lists
df['category_list'] = df['category_list'].apply(ast.literal_eval)

# Step 3: Explode the list into separate rows
df_exploded = df.explode('category_list')

# Step 4: Rename the category column for clarity
df_exploded = df_exploded.rename(columns={'category_list': 'category'})

# Step 5: Save the new CSV
df_exploded.to_csv('company_categories.csv', index=False)

print("New CSV created: 'company_categories.csv'")

New CSV created: 'company_categories.csv'